:root {
  font-family: "Calibri";
  font-weight: lighter;
  background-color: #CCCCCC;
  --gray-color: #a5a6a5;
  --lead-color: #333333;
  --orange-color: #ff9e0a;
}

header {
  font-size: 16pt;
  text-align: center;
}

#calculator{
  margin: 0px auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 275px;
  height: 500px;
  border: 1px solid black;
  border-radius: 45px;
  background-color: black;
}

#screen{
  align-self: center;
  background-color: black;
  width: 90%;
  height: 30%;
  color: white;
  text-align: right;
  line-height: 40vh;
  font-size: 42pt;
  border-radius: 35px;
}

#buttons{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border-radius: 35px;
}

.button{
  width: 55px;
  height: 55px;
  margin: 3px;
  margin-left: 9px;
  margin-top: 5px;
  border-radius: 40px;
  border: none;
  font-size: 18pt;
  outline: none;
  cursor: pointer;
}

.zero{
  width: 122px;
}

.gray{
  color: black;
  background-color: var(--gray-color);
}

.lead{
  color: white;
  background-color: var(--lead-color);
}

.orange{
  color: white;
  background-color: var(--orange-color);
  font-size: 24pt;
}

